.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
.Signinput{
    width: 270px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(214, 213, 207);
    border-width: 0ch;
}
.button{
    width: 270px;
    height: 50px;
    border-radius: 5px;
    background-color:black;
    border-width: 0ch; 
}
.error{
    color: red;
}
.button_Lable{
    color: white;
}
.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
@media only screen and (max-width:600px){
    .default{
        display: none;
    }
    .default-mobile{
        display: block;
        
    }
  
    }

