.cover{
    background-color: yellow;
    height: 100%;
    width: 100%;
    
}
.logo-container{
    
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    right: 5%;
    position: absolute;
    padding: 30px 10px;
    background-color: yellow;
}
.form-cover{
   
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    background-color: white;
    width: 63%;
    height: 80%;
    top: 5%;
    left: 35%;
    right: 5%;
    position: absolute;
    padding: 30px 10px;
}
.logoH{
    top: 20%;
    left: 5%;
    right: 95%;
    position: absolute;
}
.button-container{
    top: 3;
    right: 5%;
   border-radius: 20px;
    position: absolute;
    background-color: black;
    width: 210px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.form_container{
    height: 400px;
    width: 600px;
    /* background-color: aqua; */
    position: absolute;
    top: 20%;
    right: 5%;
    left: 10%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.forgetPassword_container{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    position: absolute;
    top: 90%;
    right: 5%;
    left: 10%;
    cursor:'pointer'
    /* height: 100px; */
}
@media only screen and (max-width:600px){
    .default{
        display: none;
    }
    .default-mobile{
        display: block;
        
    }
    .cover{
        background-color: yellow;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .logo-container{display: none;}
    .form-cover{
   
        border-radius: 65px;
        background-color: white;
        width: 100%;
        height: 80%;
       
        /* position: absolute; */
        /* padding: 30px 10px; */
    }
    .form_container{
        height: 400px;
        width: 300px;
        /* background-color: aqua; */
        position: absolute;
        /* top: 20%;
        right: 5%;
        left: 10%; */
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
     
    }
    }
